################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HistogramGen.UT/bin/Debug/net8.0
/HistogramGen/.vs
/HistogramGen/bin/Debug/net8.0
/HistogramGen/obj
/HistogramGen.UT/obj
/Histogram.ConsoleApp
/.vs
/HistogramGen/bin/Release/net8.0
/HistogramGen.Benchmark/bin
/HistogramGen.Benchmark/obj
/HistogramGen.UT/bin/Release/net8.0
